<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>CarAuto</title>
	<!--Bootstrap -->
	<link rel="stylesheet" th:href="@{assetsuser/css/bootstrap.min.css}" type="text/css">
	<!--Custome Style -->
	<link rel="stylesheet" th:href="@{assetsuser/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{assetsuser/css/custom.css}" type="text/css">
	<!--OWL Carousel slider-->
	<link rel="stylesheet" th:href="@{assetsuser/css/owl.carousel.css}" type="text/css">
	<link rel="stylesheet" th:href="@{assetsuser/css/owl.transitions.css}" type="text/css">
	<!--slick-slider -->
	<link th:href="@{assetsuser/css/slick.css}" rel="stylesheet">
	<!--bootstrap-slider -->
	<link th:href="@{assetsuser/css/bootstrap-slider.min.css}" rel="stylesheet">
	<!--FontAwesome Font Style -->
	<link th:href="@{assetsuser/css/fontawesome.min.css}" rel="stylesheet">
	<!-- SWITCHER -->
	<link rel="stylesheet" id="switcher-css" type="text/css" th:href="@{assetsuser/switcher/css/switcher.css}"
		media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/red.css}" title="red"
		media="all" data-default-color="true" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/orange.css}" title="orange"
		media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/blue.css}" title="blue"
		media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/pink.css}" title="pink"
		media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/green.css}" title="green"
		media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{assetsuser/switcher/css/purple.css}" title="purple"
		media="all" />
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
		th:href="@{assetsuser/images/favicon-icon/apple-touch-icon-144-precomposed.png}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
		th:href="@{assetsuser/images/favicon-icon/apple-touch-icon-114-precomposed.html}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
		th:href="@{assetsuser/images/favicon-icon/apple-touch-icon-72-precomposed.png}">
	<link rel="apple-touch-icon-precomposed"
		th:href="@{assetsuser/images/favicon-icon/apple-touch-icon-57-precomposed.png}">
	<link rel="shortcut icon" th:href="@{assetsuser/images/favicon-icon/favicon.png}">
	<!-- Google-Font-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body id="index1">
	<!-- Start Switcher -->
	<div class="switcher-wrapper">
		<div class="demo_changer">
			<div class="demo-icon customBgColor"><i class="fa fa-cog fa-spin fa-2x"></i></div>
			<div class="form_holder">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="predefined_styles">
							<div class="skin-theme-switcher">
								<h4>Color</h4>
								<a href="#" data-switchcolor="red" class="styleswitch"
									style="background-color:#de302f;"> </a>
								<a href="#" data-switchcolor="orange" class="styleswitch"
									style="background-color:#f76d2b;"> </a>
								<a href="#" data-switchcolor="blue" class="styleswitch"
									style="background-color:#228dcb;"> </a>
								<a href="#" data-switchcolor="pink" class="styleswitch"
									style="background-color:#FF2761;"> </a>
								<a href="#" data-switchcolor="green" class="styleswitch"
									style="background-color:#2dcc70;"> </a>
								<a href="#" data-switchcolor="purple" class="styleswitch"
									style="background-color:#6054c2;"> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Switcher -->
	<!--Header-->
	<header>
		<div class="default-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-2">
						<div class="logo "> <a href=""><img th:src="@{assetsuser/images/logo.png}" alt="image" /></a>
						</div>
					</div>
					<div class="col-sm-9 col-md-10">
						<div class="header_info">
							<div class="header_widgets">
								<div class="circle_icon"> <i class="fa-solid fa-envelope"></i> </div>
								<p class="uppercase_text">For Support Mail us : </p>
								<a href="mailto:info@example.com">dhtcntt03@gmail.com</a>
							</div>
							<div class="header_widgets">
								<div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
								<p class="uppercase_text">Service Helpline Call Us: </p>
								<a href="tel:61-1234-5678-09">0794070559</a>
							</div>
							<div class="social-follow">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase"
									data-bs-toggle="modal" data-bs-dismiss="modal">Login / SignUp</a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation -->
		<nav id="navigation_bar" class="navbar navbar-expand-lg">
			<div class="container">
				<div class="row header-row desktop">
					<div class="navbar-header">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
					</div>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/user/AboutUs}">About Us</a></li>
							<li class="dropdown"><a href="#" id="dropdownMenuButton2" data-bs-toggle="dropdown"
									aria-expanded="false">Inventory</a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/user/ListingClassic}">Grid Style</a></li>
									<li><a th:href="@{/user/listView}">List View </a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" id="dropdownMenuButton3" data-bs-toggle="dropdown"
									aria-expanded="false">Category</a>
								<ul class="dropdown-menu">
									<li th:each="cate1:${listCate}"><a th:href="@{/user/index2/{id}(id=${cate1.id})}"
											th:text="${cate1.categoryName}"></a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" id="dropdownMenuButton4" data-bs-toggle="dropdown"
									aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/user/service}">Services</a></li>
									<li><a th:href="@{/user/comingup}">Coming Soon</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" id="dropdownMenuButton5" data-bs-toggle="dropdown"
									aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li th:each="blog:${blog}"><a th:href="@{/user/blog/{id}(id=${blog.id})}" th:text="'Blog : '+${blog.id}"></a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="header_wrap">
						<div class="user_login">
							<ul>
								<li class="dropdown dropdown-toggle"> <a href="#" class="dropdown-toggle"
										id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false"><i
											class="fa fa-user-circle" aria-hidden="true"></i><span
											sec:authentication="name"></span><i class="fa fa-angle-down"
											aria-hidden="true"></i></a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
										<li><a class="dropdown-item" th:href="@{/user/profileSetting}">Profile Settings</a>
										</li>
<li><a class="dropdown-item" th:href="@{/user/comment}">Comment</a></li>
										<li><a class="dropdown-item" th:href="@{/user/cardMy}">My Vehicles</a></li>
										<li><a class="dropdown-item" th:href="@{/logout}">Sign Out</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="header_search">
							<div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
							<form th:action="@{/searchCate}" method="post" id="header-search-form">
								<input type="text" placeholder="Search..." class="form-control" name="keyword"
									th:value="${keyword}">
								<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</div>
					</div>
				</div>
				<!-- mobile-view -->
				<div class="row header-row mobile">
					<div class="col-10 col-md-8 right">
						<div class="navbar-header">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
								aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbarSupportedContent1">
							<ul class="nav navbar-nav">
								<li><a href="#">Home</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li class="dropdown"><a href="#" id="dropdownMenuButton9" data-bs-toggle="dropdown"
										aria-expanded="false">Inventory</a>
									<ul class="dropdown-menu">
										<li><a href="listing-grid.html">Grid Style</a></li>
										<li><a href="listing-classic.html">Classic Style</a></li>
										<li><a href="listing-detail.html">Detail Page Style 1</a></li>
										<li><a href="listing-detail-2.html">Detail Page Style 2</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" id="dropdownMenuButton10" data-bs-toggle="dropdown"
										aria-expanded="false">Dealers</a>
									<ul class="dropdown-menu">
										<li><a href="dealers-list.html">List View</a></li>
										<li><a href="dealers-profile.html">Detail Page</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" id="dropdownMenuButton11" data-bs-toggle="dropdown"
										aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li><a href="services.html">Services</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
										<li><a href="compare.html">Compare Vehicles</a></li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" id="dropdownMenuButton12" data-bs-toggle="dropdown"
										aria-expanded="false">News</a>
									<ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
										<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
										<li><a href="blog-detail.html">Blog Detail</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="header_wrap">
							<div class="user_login">
								<ul>
									<li class="dropdown dropdown-toggle"> <a href="#" class="dropdown-toggle"
											id="dropdownMenuButton13" data-bs-toggle="dropdown" aria-expanded="false"><i
												class="fa fa-user-circle" aria-hidden="true"></i> John Anderson <i
												class="fa fa-angle-down" aria-hidden="true"></i></a>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton13">
											<li><a class="dropdown-item" href="profile-settings.html">Profile
													Settings</a></li>
											<li><a class="dropdown-item" href="my-vehicles.html">My Vehicles</a></li>
											<li><a class="dropdown-item" href="post-vehicle.html">Post a Vehicle</a>
											</li>
											<li><a class="dropdown-item" href="#">Sign Out</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="header_search">
								<div id="search_toggle1"><i class="fa fa-search" aria-hidden="true"></i></div>
								<form action="#" method="get" id="header-search-form1">
									<input type="text" placeholder="Search..." class="form-control">
									<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-2 col-md-4 right">
						<div class="user_login mobile">
							<ul>
								<li class="dropdown"> <a href="#" id="dropdownMenuButton15" data-bs-toggle="dropdown"
										aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><a href="profile-settings.html">Profile Settings</a></li>
										<li><a href="my-vehicles.html">My Vehicles</a></li>
										<li><a href="post-vehicle.html">Post a Vehicle</a></li>
										<li><a href="#">Sign Out</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- mobile-view -->
			</div>
		</nav>
		<!-- Navigation end -->
	</header>
	<!-- /Header -->
	<!-- Banners -->
	<section id="banner" class="banner-section">
		<div class="container">
			<div class="div_zindex">
				<div class="row">
					<div class="col-md-7"></div>
					<div class="col-md-5">
						<div class="banner_content">
							<h1>Find the right car for you.</h1>
							<p>We have more than a thousand cars for you to choose. </p>
							<a th:href="@{/user/ListingClassic}" class="btn">Read More <span class="angle_arrow"><i
										class="fa fa-angle-right" aria-hidden="true"></i></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Banners -->
	<!-- Filter-Form -->
	<section id="filter_form" class="gray-bg">
		<div class="container">
			<h3>Find Your Dream Car <span>(Easy search from here)</span></h3>
			<form th:action="@{/fillProduct}" method="post" th:object="${searchModel}">
				<div class="row">
					<div class="form-group col-md-4 col-sm-6 black_input">
						<div class="select">
							<select class="form-control" name="categoryName">
								<option th:each="cate1:${listCate}" th:value="${cate1.categoryName}"><span
										th:text="${cate1.categoryName}"></span></option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-4 col-sm-6 black_input">
						<div class="select">
							<select class="form-control" name="productPrice">
								<option value="10000-30000">Price:$10000-$30000</option>
								<option value="30000-50000">Price:$30000-$50000</option>
								<option value="50000-70000">Price:$50000-$70000</option>
								<option value="70000-100000">Price:$70000-$100000</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-4 col-sm-6 black_input">
						<div class="select">
							<select class="form-control" name="productAddress">
								<option th:each="address:${productAddress}" th:value="${address}"
									th:text="'Porcelain : '+${address}"></option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-4 col-sm-6 black_input">
						<div class="select">
							<select class="form-control" name="model">
								<option th:each="model1:${model}" th:value="${model1}" th:text="'Model : '+${model1}">
								</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-4 col-sm-6 black_input">
						<div class="select">
							<select class="form-control" name="sortId">
								<option value="ASC">Selling time : New to Old</option>
								<option value="DESC">Selling time : Old to New</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-3 col-sm-6">
						<button type="submit" class="btn btn-block search"><i class="fa fa-search"
								aria-hidden="true"></i> Search Car </button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- /Filter-Form -->
	<!-- About -->
	<!-- /About -->
	<!-- Resent Cat-->
	<!-- /Resent Cat -->
	<!-- Fun Facts-->
	<!-- /Fun Facts-->
	<!--Featured Car-->
	<section class="section-padding section-padding">
		<div class="container">
			<div class="section-header text-center">
				<h2>Featured Cars <span>Special Offers</span></h2>
				<p>If you are looking for a nice car for you and your family! You can refer to the cars below. </p>
			</div>
			<div class="row">
				<div class="col-list-3" th:each="pro:${product1}">
					<div class="featured-car-list">
						<div class="featured-car-img"> <a th:href="@{/user/detail/{id}(id=${pro.id})}"><img
									th:src="@{'/uploads/'+${pro.image}}" class="img-fluid" alt="Image"></a>
							<div class="label_icon"><span th:text="${pro.category.categoryName}"></span></div>
							<div class="compare_item">
								<div class="checkbox">
									<input type="checkbox" id="compare">
									<label for="compare">Compare</label>
								</div>
							</div>
						</div>
						<div class="featured-car-content">
							<h6><a href="#" th:text="${pro.productName}"></a></h6>
							<div class="price_info">
								<p class="featured-price" th:text="'$'+${pro.price}"></p>
								<div class="car-location" th:text="'Make in : '+${pro.productAddress}"><span><i
											class="fa fa-map-marker" aria-hidden="true"></i>
									</span></div>
							</div>
							<ul>
								<li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
								<li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
								<li th:text="' Model : '+${pro.models}"><i class="fa fa-calendar"
										aria-hidden="true"></i></li>
								<li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
								<li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
								<li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="fun-facts-section">
		<div class="container div_zindex">
			<div class="row">
				<div class="col-lg-3 col-xs-6 col-sm-3">
					<div class="fun-facts-m">
						<div class="cell">
							<h2><i class="fa fa-calendar" aria-hidden="true"></i>40+</h2>
							<p>Years In Business</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xs-6 col-sm-3">
					<div class="fun-facts-m">
						<div class="cell">
							<h2><i class="fa fa-car" aria-hidden="true"></i>1200+</h2>
							<p>New Cars For Sale</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xs-6 col-sm-3">
					<div class="fun-facts-m">
						<div class="cell">
							<h2><i class="fa fa-car" aria-hidden="true"></i>1000+</h2>
							<p>Used Cars For Sale</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xs-6 col-sm-3">
					<div class="fun-facts-m">
						<div class="cell">
							<h2><i class="fa fa-user-circle-o" aria-hidden="true"></i>600+</h2>
							<p>Satisfied Customers</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Dark Overlay-->
		<div class="dark-overlay"></div>
	</section>
	<!-- /Featured Car-->
	<!--Trending Car-->
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="section-header text-center">
				<h2>Trending <span>Cars of the Year</span></h2>
				<p>If you feel like getting a new 2023 model year vehicle anytime soon, you will be so happy to know that there are so many vehicles are getting full or partial redesign for 2023. In this video, you will see all 2023 suv and crossovers, sedans and hatchbacks, and of course couple new classic sportcars that being shown off by famous car brands. Enjoy and watch what 2023 cars and SUVs have in store for you.</p>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="trending_slider">
						<div class="trending-car-m" th:each="pro:${productALL}">
							<div class="trending-car-img"> <img th:src="@{'/uploads/'+${pro.image}}" alt="Image"
									class="img-fluid" /> </div>
							<div class="trending-hover">
								<h4><a href="#" th:text="${pro.productName}"></a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Trending Car-->
	<!--Testimonial -->
	<section class="section-padding testimonial-section parallex-bg">
		<div class="container div_zindex">
			<div class="section-header white-text text-center">
				<h2>Our Satisfied <span>Customers</span></h2>
				<p>Below are comments from customers who have purchased our products </p>
			</div>
			<div class="row">
				<div id="testimonial-slider">
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-1.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Donald Brooks</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-2.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Enzo Giovanotelli</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-2.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Donald Brooks</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-1.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Enzo Giovanotelli</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-2.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Donald Brooks</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
					<div class="testimonial-m">
						<div class="testimonial-img"> <img th:src="@{assetsuser/images/testimonial-img-3.jpg}"
								alt="images" />
						</div>
						<div class="testimonial-content">
							<div class="testimonial-heading">
								<h5>Enzo Giovanotelli</h5>
								<span class="client-designation">CEO of xzy company</span>
							</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt .</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Dark Overlay-->
		<div class="dark-overlay"></div>
	</section>
	<!-- /Testimonial-->
	<!--Blog -->
	<section class="section-padding">
		<div class="container">
			<div class="section-header text-center">
				<h2>Latest Updates In<span> Automobile Industry</span></h2>
				<p>If you are curious, you can learn about one of the extremely interesting and useful articles below</p>
			</div>
		<div class="row">
				<div class="col-md-4 col-sm-4" th:each="blog:${blog}">
					<article class="blog-list">
						<div class="blog-info-box">
							<div class="share_article">
								<p><i class="fa fa-share-alt" aria-hidden="true"></i></p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<a th:href="@{/user/blog/{id}(id=${blog.id})}"><img th:src="@{'/uploads/'+${blog.blogImage}}"
									class="img-fluid" alt="image"></a>
							<ul>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Latest Cars</a></li>
								<li th:text="${blog.date}"><i class="fa fa-calendar" aria-hidden="true"></i></li>
								<li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>10 Comments</a></li>
							</ul>
						</div>
						<div class="blog-content">
							<h5><a th:href="@{/user/blog/{id}(id=${blog.id})}" th:text="${blog.blogName}"></a>
							</h5>
							<a th:href="@{/user/blog/{id}(id=${blog.id})}" class="btn-link">Read More <i class="fa fa-long-arrow-right"
									aria-hidden="true"></i></a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<!-- /Blog-->
	<!--Brands-->
	<!-- /Brands-->
	<!--Footer -->
	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<h6>Top Categores</h6>
						<ul>
							<li><a href="#">Crossovers</a></li>
							<li><a href="#">Hybrids</a></li>
							<li><a href="#">Hybrid Cars</a></li>
							<li><a href="#">Hybrid SUVs</a></li>
							<li><a href="#">Concept Vehicles</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<h6>About Us</h6>
						<ul>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Hybrid Cars</a></li>
							<li><a href="#">Cookies</a></li>
							<li><a href="#">Trademarks</a></li>
							<li><a href="#">Terms of use</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<h6>Useful Links</h6>
						<ul>
							<li><a href="#">Our Partners</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Investors</a></li>
							<li><a href="#">Request a Quote</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<h6>Subscribe Newsletter</h6>
						<div class="newsletter-form">
							<form action="#">
								<div class="form-group">
									<input type="email" class="form-control newsletter-input" required
										placeholder="Enter Email Address" />
								</div>
								<button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i
											class="fa fa-angle-right" aria-hidden="true"></i></span></button>
							</form>
							<p class="subscribed-text">*We send great deals and latest auto news to our subscribed users
								every week.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /Footer-->
	<!--Back to top-->
	<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
	<!--/Back to top-->
	<!--Login-Form -->
	<div class="modal fade" id="loginform">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Login</h3>
				</div>
				<div class="modal-body">
					<div class="login_wrap">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<form action="#" method="get">
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="Username or Email address*">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password*">
									</div>
									<div class="form-group checkbox">
										<input type="checkbox" id="remember">
										<label for="remember">Remember Me</label>
									</div>
									<div class="form-group">
										<input type="submit" value="Login" class="btn btn-block">
									</div>
								</form>
							</div>
							<div class="col-md-6 col-sm-6">
								<h6 class="gray_text">Login the Quick Way</h6>
								<a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square"
										aria-hidden="true"></i> Login with Facebook</a> <a href="#"
									class="btn btn-block twitter-btn"><i class="fa fa-twitter-square"
										aria-hidden="true"></i> Login with Twitter</a> <a href="#"
									class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square"
										aria-hidden="true"></i> Login with Google+</a>
							</div>
							<div class="mid_divider"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center">
					<p>Don't have an account? <a href="#signupform" data-bs-toggle="modal"
							data-bs-dismiss="modal">Signup Here</a></p>
					<p><a href="#forgotpassword" data-bs-toggle="modal" data-bs-dismiss="modal">Forgot Password ?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!--/Login-Form -->
	<!--SignUp-Form -->
	<div class="modal fade" id="signupform">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Sign Up</h3>
				</div>
				<div class="modal-body">
					<div class="signup_wrap">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<form th:action="@{/logon}" method="get">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email Address">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group checkbox">
										<input type="checkbox" id="terms_agree">
										<label for="terms_agree">I Agree with <a href="#">Terms and
												Conditions</a></label>
									</div>
									<div class="form-group">
										<input type="submit" value="Sign Up" class="btn btn-block">
									</div>
								</form>
							</div>
							<div class="col-md-6 col-sm-6">
								<h6 class="gray_text">Login the Quick Way</h6>
								<a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square"
										aria-hidden="true"></i> Login with Facebook</a> <a href="#"
									class="btn btn-block twitter-btn"><i class="fa fa-twitter-square"
										aria-hidden="true"></i> Login with Twitter</a> <a href="#"
									class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square"
										aria-hidden="true"></i> Login with Google+</a>
							</div>
							<div class="mid_divider"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center">
					<p>Already got an account? <a href="#loginform" data-bs-toggle="modal" data-bs-dismiss="modal">Login
							Here</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--/SignUp-Form -->
	<!--Forgot-password-Form -->
	<div class="modal fade" id="forgotpassword">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Password Recovery</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="forgotpassword_wrap">
							<div class="col-md-12">
								<form action="#" method="get">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Your Email address*">
									</div>
									<div class="form-group">
										<input type="submit" value="Reset My Password" class="btn btn-block">
									</div>
								</form>
								<div class="text-center">
									<p class="gray_text">For security reasons we don't store your password. Your
										password will be reset and a new one will be send.</p>
									<p><a href="#loginform" data-bs-toggle="modal" data-bs-dismiss="modal"><i
												class="fa fa-angle-double-left" aria-hidden="true"></i> Back to
											Login</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/Forgot-password-Form -->
	<!-- Scripts -->
	<script th:src="@{assetsuser/js/jquery.min.js}"></script>
	<script th:src="@{assetsuser/js/popper.min.js}"></script>
	<script th:src="@{assetsuser/js/bootstrap.min.js}"></script>
	<script th:src="@{assetsuser/js/interface.js}"></script>
	<script th:src="@{assetsuser/js/31f5977fdc.js}"></script>
	<!--Switcher-->
	<script th:src="@{assetsuser/switcher/js/switcher.js}"></script>
	<!--bootstrap-slider-JS-->
	<script th:src="@{assetsuser/js/bootstrap-slider.min.js}"></script>
	<!--Slider-JS-->
	<script th:src="@{assetsuser/js/slick.min.js}"></script>
	<script th:src="@{assetsuser/js/owl.carousel.min.js}"></script>
</body>
</html>