<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head::head">

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header::header"></div>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/fragments/aside::aside"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Chào mừng bạn đến với trang quản trị
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<!-- Default box -->
				<div class="box">

				</div>
				<div class="box-body">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Bordered Table</h3>
						</div>

						<div class="box-body">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th style="width: 10px">ID</th>
										<th>Full Name</th>
										<th>Email</th>
										<th>Content</th>
										<th>Action</th>
									</tr>

									<tr th:each="comment:${comment}">
										<td th:text="${comment.id}"></td>
										<td th:text="${comment.user.fullName}"></td>
										<td th:text="${comment.user.email}"></td>
										<td th:text="${comment.content}"></td>
										<td>
											<a th:href="@{/admin/delete-comment/{id}(id=${comment.id})}"
												onclick=" confirm('Bạn chắc chắn muốn xóa không')"
												class="btn btn-danger">Delete</a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>


					</div>



				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				</div>
				<!-- /.box-footer-->
		</div>
		<!-- /.box -->

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<div th:replace="admin/fragments/footer::footer"></div>

	</div>

	<div th:replace="admin/fragments/script::script"></div>

</body>

</html>