<aside class="main-sidebar" th:fragment="aside">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="@{/uploads/11.jpg}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<span sec:authentication="name"></span><br>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
							class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->

		<ul class="sidebar-menu" data-widget="tree">

			<li>
				<a th:href="@{/admin/category}">
					<i class="fa fa-th"></i> <span>Quản lý danh mục </span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>

			<li>
				<a th:href="@{/admin/blog}">
					<i class="fa fa-th"></i> <span>Quản lý bài viết</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/order}">
					<i class="fa fa-th"></i> <span>Quản lý đơn hàng</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>
			<li class="treeview">
			<li><a th:href="@{/admin/product}"><i class="fa fa-th"></i> Quản lý sản phẩm</a></li>
			</li>

			<li>
				<a th:href="@{/admin/staff}">
					<i class="fa fa-th"></i> <span>Quản lý nhân viên</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/comment}">
					<i class="fa fa-th"></i> <span>Quản lý tin nhắn</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/account}">
					<i class="fa fa-th"></i> <span>Quản lý tài khoản</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/information}">
					<i class="fa fa-th"></i> <span>Quản lý thông tin shop</span>
					<span class="pull-right-container">
					</span>
				</a>
			</li>

		</ul>
	</section>
	<!-- /.sidebar -->
</aside>